<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect to signin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        span {
            color: green;
            font-size: 20px;
        }
        .message {
            height: 44vh;
            display: flex;
            align-items: center;
            justify-content: center;
       
        }
        .message a{
            text-decoration: none;
            color: blueviolet;
        }
    </style>
</head>
<body>
	<div class="header">
		<a href="/" class="logo">AI Powered</a>
		<div class="header-right">
		  <a class="active" href="#">Rate</a>
		  
		  {% if status != "Log in" %}
		  	<a href="/logout">{{status}}</a>
		  {% else %}
		  	<a href="/login_signup">{{status}}</a>
		  {% endif %}
		  {% if current_user != "User" %}
		  	<a id="user" href="#about">{{current_user}}</a>
		  {% else %}
		  	<a href="#about">{{current_user}}</a>
		  {% endif %}
		</div>
	</div>
    <div class="message">
        <div class="succes_text">
            <span>You succesfully signed up. <a href="/login_signup"> Go to login page</a></span>
            
        </div>
        
    </div>
</body>
</html>