<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Search face matching</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scan.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="order"><span>Click the button below to proceed. Make sure your face is centered in the camera frame</span></div>
<div class="scan">
  <a href="/model_testing"><button class='glowing-btn'><span class='glowing-txt'>S<span class='faulty-letter'>E</span>ARCH</span></button></a>
</div>

<!-- partial -->
  
</body>
</html>
